* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --black-color: #373740;
  --dark-color: #151520;
  --light-color: #f4f1ed;
  --primary-color: #c7585e;
  --primary-text: #eeeee4;
  --secundary-color: #4c7bf2;
  --terciary-color: #f8cb5f;

  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 15vh;
  background-color: var(--primary-color);

  padding: 10px;
}

/* Button -- Button -- Button -- Button -- Button --*/
button {
  border: 0;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
  margin-bottom: 3px;
}

a {
  text-decoration: none;
}

.login {
  background-color: var(--secundary-color);
}

.login a {
  color: var(--primary-text);
}

.signup {
  background-color: var(--terciary-color);
}

.signup a {
  color: var(--black-color);
}

.login:hover {
  background-color: #1948c0;
}

.signup:hover {
  background-color: #c5982c;
}

/* Button -- Button -- Button -- Button -- Button --*/

.logo {
  width: 25vw;
}

.redes {
  width: 50vw;

  display: flex;
  justify-content: center;
}

.menu {
  width: 25vw;
  text-align: right;
  margin-right: 3vw;
}

.logo img {
  height: 15vh;
}

.rede {
  margin: 5px;
  font-family: "Poppins", sans-serif;
  color: var(--primary-text);
}

.rede h2 {
  font-size: 16px;
  font-weight: 600;
}

.rede a {
  color: var(--primary-text);
}

.rede a:hover {
  color: var(--dark-color);
}

.telefone {
  font-weight: 400;
}

main {
  background-color: var(--black-color);
  margin: 0;
  padding: 5vh 0;
}

.produto {
  border-radius: 15px;
  height: 30vh;
  width: 80vw;
  margin-left: 10vw;
  margin-bottom: 5vh;
  background-color: var(--dark-color);
}

.produto img {
  height: 100%;
  border-radius: 15px;
}

footer {
  height: 10vh;
  background-color: var(--dark-color);
}
