* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --black-color: #373740;
  --dark-color: #151520;
  --light-color: #f4f1ed;
  --primary-color: #c7585e;
  --primary-text: #eeeee4;
  --secundary-color: #4c7bf2;
  --terciary-color: #f8cb5f;

  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 15vh;
  background-color: var(--primary-color);

  padding: 10px;
}

/* Button -- Button -- Button -- Button -- Button --*/
button {
  border: 0;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
  margin-bottom: 3px;
}

a {
  text-decoration: none;
}

.login {
  background-color: var(--secundary-color);
}

.login a {
  color: var(--primary-text);
}

.signup {
  background-color: var(--terciary-color);
}

.signup a {
  color: var(--black-color);
}

.login:hover {
  background-color: #1948c0;
}

.signup:hover {
  background-color: #c5982c;
}

/* Button -- Button -- Button -- Button -- Button --*/

.logo {
  width: 20vw;
}

.redes {
  width: 60vw;

  display: flex;
  justify-content: center;
}

.rede {
  margin: 10px;
  font-family: "Poppins", sans-serif;
  color: var(--dark-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 26px;
}

.menu {
  width: 20vw;
  text-align: right;
  margin-right: 3vw;
}

.logo img {
  height: 15vh;
}

.rede h2 {
  font-size: 16px;
  font-weight: 600;
}

.rede a {
  color: var(--dark-color);
}

.rede a:hover {
  color: var(--primary-text);
}

.telefone {
  font-weight: 500;
  font-size: 14px;
}



main {
  background-color: var(--black-color);
  margin: 0;
  padding: 5vh 0;
}

.produto {
  border-radius: 15px;
  min-width: 50vw;
  max-width: fit-content;
  
  min-height: 25vh;
  height: fit-content;
  margin-left: 25vw;
  margin-bottom: 5vh;
  background-color: var(--dark-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.produto img {
  height: 20vh;
  border-radius: 50%;
  position: relative;
  left: -50px;
  transition: 0.5s;
}

.produto img:hover {
  height: 35vh;
  border-radius:15%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: 0.5s;
}


.data {
  color: var(--light-color);
  width: 50%;
  background-color: var(--dark-color);
  border-radius: 15px;
  padding: 10px;
}

.comprar {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  width: fit-content;
  background-color: #adff2f;
  color: var(--dark-color);
  margin-right: 10px;
  border-radius: 50px;
  padding: 10px;
}

.comprar:hover {
  background-color: #69bb0b;
  transition: 0.3s;
}

footer {
  height: 15vh;
  background-color: var(--dark-color);
  text-align: center;
}

footer a {
  font-size: 12px;
  color: var(--light-color);
}

footer a:hover {
  color: var(--primary-color);
}